<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Convert Time Difference to Degrees!</title>
</head>
<body>
    <div class='container'>
        <h1>Convert time difference to degrees</h1>
        <p>Enter the time you would like to convert to degrees:</p>
        <form action='/view_title_case'>
            <div class='form-group'>
              <label for='time'>Phrase:</label>
              <input id='time' name='time' class='form-control' type='text'>
            </div>
            <button type='submit' class='btn btn-info'>Translate</button>
        </form>
    </div>
</body>
</html>
